* {
  margin: 0;
  padding: 0;
}

/* 背景 */
body {
  font-family: sans-serif;
  background-color: #000000;
}

/* 各ファイルの設定 App.jsに記載  */
.container {
  display: grid;
  row-gap: 30px;
  width: 84%;
  max-width: 640px;
  margin: 60px auto;
}

/* 新規登録・ログインページのタイトル位置 */
.container h1 {
  font-size: 2em;
  font-weight: bold;
  color: #FFF;
  justify-self: center;
}

/* 入力フォーム */
form {
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  display: grid;
  row-gap: 10px;
}

/* 入力フォーム */
input {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  outline: none;
  appearance: none;
  border-radius: 0;
}

/* 画像選択フォーム */
input[type="file"] {
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 16px;
  outline: none;
  appearance: none;
  border-radius: 0;
}

/* ボタン下メッセージ */
.container p {
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  justify-self: center;
}

/* ボタン下メッセージ 「こちら」 */
a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* 登録する・ログインボタン */
button {
  justify-self: center;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  margin-top: 80px;
  margin-bottom: 30px;
}

/* ボタンホバー */
button:hover {
  background-color: #666;
  cursor: pointer;
  opacity: 0.7;
}

/* タブレット用 */
@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 40px auto;
  }

  .container h1 {
    font-size: 1.5em;
  }

  form {
    font-size: 0.9em;
  }

  .container p {
    font-size: 0.9em;
  }

  a {
    font-size: 20px;
  }

  button {
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 375px) {

  .container {
    width: 95%;
    margin: 30px auto;
    row-gap: 20px;
  }

  .container h1 {
    font-size: 1.2em;
  }

  form {
    font-size: 0.8em;
  }

  .container p {
    font-size: 0.8em;
  }

  a {
    font-size: 16px;
  }

  button {
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 8px;
  }
}